@import 'tailwindcss';

:root {
  --ui-main-50: #F0fdfA;
  --ui-main-100: #DAE6E3;
  --ui-main-200: #C4CECC;
  --ui-main-300: #ADB7B5;
  --ui-main-400: #97A09E;
  --ui-main-500: #818987;
  --ui-main-600: #6B7170;
  --ui-main-700: #555A59;
  --ui-main-800: #3E4342;
  --ui-main-900: #282B2B;
  --ui-main-950: #1D201F;
  --ui-main-975: #121414;

  --ui-accent-select-fg: #F0FDFA;
  --ui-accent-select-bg: #F0FDFA33;
}

.light {
}


@theme {
	--font-host: 'Host Grotesk', sans-serif;

	--color-main-50: var(--ui-main-50);
	--color-main-100: var(--ui-main-100);
	--color-main-200: var(--ui-main-200);
	--color-main-300: var(--ui-main-300);
	--color-main-400: var(--ui-main-400);
	--color-main-500: var(--ui-main-500);
	--color-main-600: var(--ui-main-600);
	--color-main-700: var(--ui-main-700);
	--color-main-800: var(--ui-main-800);
	--color-main-900: var(--ui-main-900);
	--color-main-950: var(--ui-main-950);
	--color-main-975: var(--ui-main-975);
}

@custom-variant hocus (&:hover, &:focus-visible);

html,
body {
	background-color: var(--ui-main-975);
	color: var(--ui-main-50);
	overflow: hidden;
	font-family: 'Host Grotesk', sans-serif;
}

*:focus-visible {
	outline: 0px;
}

*::selection {
	color: var(--ui-accent-select-fg);
	background: var(--ui-accent-select-bg);
}

::-moz-selection {
	color: var(--ui-accent-select-fg);
	background: var(--ui-accent-select-bg);
}

::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@utility inner-main-700 {
  box-shadow: inset 0px 0px 0px 1px var(--ui-main-700), inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@utility inner-active {
  box-shadow: inset 0px 0px 0px 2px #E9EBDF, inset 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
}
