@import 'tailwindcss';

:root {
  --ui-accent-darker: #005F5A;
  --ui-accent: #009689;
  --ui-accent-lighter: #00BBA7;
  --ui-main-50: #F0F0FF;
  --ui-main-100: #DEDEEB;
  --ui-main-200: #C4C4D0;
  --ui-main-300: #ADADB8;
  --ui-main-400: #9797A1;
  --ui-main-500: #818189;
  --ui-main-600: #6B6B72;
  --ui-main-700: #55555A;
  --ui-main-800: #3E3E43;
  --ui-main-900: #28282B;
  --ui-main-950: #1D1D20;
  --ui-main-975: #121214;

  --ui-accent-select-fg: #F0F0FF;
  --ui-accent-select-bg: #F0F0FF33;

  --ui-accent-mention: #00968926;
  --ui-accent-mention-hover: #0096894D;
  
  --ui-mention: #E37D3D;
}

.light {
}


@theme {
	--font-host: 'Host Grotesk', sans-serif;

	--color-accent-darker: var(--ui-accent-darker);
	--color-accent: var(--ui-accent);
	--color-accent-lighter: var(--ui-accent-lighter);
	--color-main-50: var(--ui-main-50);
	--color-main-100: var(--ui-main-100);
	--color-main-200: var(--ui-main-200);
	--color-main-300: var(--ui-main-300);
	--color-main-400: var(--ui-main-400);
	--color-main-500: var(--ui-main-500);
	--color-main-600: var(--ui-main-600);
	--color-main-700: var(--ui-main-700);
	--color-main-800: var(--ui-main-800);
	--color-main-900: var(--ui-main-900);
	--color-main-950: var(--ui-main-950);
	--color-main-975: var(--ui-main-975);
  --color-mention: var(--ui-mention);
}

@variant hover (&:hover, &:focus-visible);

html,
body {
	background-color: var(--ui-main-975);
	color: var(--ui-main-50);
	overflow: hidden;
	font-family: 'Host Grotesk', sans-serif;
}

*:focus-visible {
	outline: 0px;
}

*::selection {
	color: var(--ui-accent-select-fg);
	background: var(--ui-accent-select-bg);
}

::-moz-selection {
	color: var(--ui-accent-select-fg);
	background: var(--ui-accent-select-bg);
}

::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@utility inner-main-700 {
  box-shadow: inset 0px 0px 0px 1px var(--ui-main-700), inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

@utility inner-active {
  box-shadow: inset 0px 0px 0px 2px #E9EBDF, inset 0px 0px 6px 4px rgba(0, 0, 0, 0.5);
}

@utility highlight-border {
  @apply after:content-normal after:absolute after:inset-0 after:border after:border-main-50/10 after:transition-colors after:duration-100 after:z-[1] after:rounded-[inherit] after:mix-blend-lighten;
}

@utility highlight-border-profile {
  @apply after:content-normal after:absolute after:inset-0 after:border-3 after:border-main-600/10 after:transition-colors after:duration-100 after:z-[1] after:rounded-[inherit] after:mix-blend-lighten;
}

*:focus-visible {
  box-shadow: 0px 0px 0px 4px var(--ui-accent-lighter);
}

a, button {
  @apply cursor-pointer;
}

.auth-gradient {
  background: linear-gradient(
    251.76deg,
    rgba(18, 20, 20, 0.35) 0%,
    rgba(18, 20, 20, 0.875) 12.15%,
    rgba(18, 20, 20, 0.964431) 19.59%,
    rgba(18, 20, 20, 0.988278) 27.02%,
    #121414 37.72%
  );
}

.tiptap {
	height: 100%;
  overflow: auto;
  scroll-padding: 16px;
}

.tiptap p.is-editor-empty:first-child::before {
	color: var(--ui-main-500);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

[data-whatinput="mouse"] .chat-input:focus-visible, [data-whatinput="mouse"] .edit-chat-input:focus-visible {
	box-shadow: none;
}

[data-whatintent="mouse"] .chat-input:focus-visible, [data-whatintent="mouse"] .edit-chat-input:focus-visible {
	box-shadow: none;
}

.chat-input {
	padding: 1rem;
}

.user-profile-gradient {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 2;
  isolation: isolate;
  background: linear-gradient(
    180deg, 
    transparent 0%, 
    var(--user-color-75) 75%,
    var(--user-color-80) 80%,
    var(--user-color-85) 85%,
    var(--user-color-90) 90%,
    var(--user-color-95) 95%,
    var(--user-color-98) 14rem,
    var(--user-color) 100%
  );
}

.editor-mention {
	background-color: var(--ui-accent-mention);
	color: var(--ui-accent);
	padding: 2px 7px 2px 5px;
	margin: 1px 4px 0px 4px;
}

.mention {
	background-color: var(--ui-accent-mention);
	color: var(--ui-accent);
	padding: 1px 7px;
	display: inline-flex;
	align-items: center;
	position: relative;
  margin: 0 2px;
	transition: background-color 75ms ease-out;
	font-size: 16px;
}

.mention:hover {
	background-color: var(--ui-accent-mention-hover);
	cursor: pointer;
}

.context-shadow {
  box-shadow: 0px 0px 24px rgba(16, 16, 18, 0.95);
}
